html, body{
    height:100%
}
.hero1{
    height: 100%;
    background-image: url(../images/kitten.jpg);
    background-size: 70%;
     background-position: top center;
    background-repeat: no-repeat;
}